# Telegram Bot Configuration
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# GitHub Configuration (for Telegram Bot to trigger workflows)
GITHUB_TOKEN=
GITHUB_REPO=LogicalReality/md2kindle
GITHUB_WORKFLOW_ID=kindle-delivery.yml
